
<div class="row">
    <div class="col-lg-6">

        <div class="row" style="margin-top:20px">
            <div class="panel panel-default">
                <div class="panel-heading"><b>Reporte Ventas: 3 Ultimos meses</b> </div>
                <div class="panel-body">
                    <canvas id="myBarChart" width="100" height="50"></canvas>
                </div>
            </div>
            <div class="col-lg-6">
                <b>Reporte Productos: 3 Ultimos meses</b>
                <canvas id="myPieChart" width="100" height="50"></canvas>



            </div>
        </div>




    </div>
    <div class="col-lg-6">

    </div>

</div>



<footer class="footer">
    <div class="container-fluid">
        <div class="row text-muted">
            <div class="col-6 text-start">
                <p class="mb-0">
                    <a class="text-muted"> <span>Copyright &copy; Universidad Tecnológica Metropolitana - Facultad Ingenieria</span></a>								&copy;
                </p>
            </div>
            <div class="col-6 text-end">
                <ul class="list-inline">
                    <li class="list-inline-item">
                        <a class="text-muted" href="https://www.minvu.gob.cl/beneficios/vivienda/" target="_blank">Vivienda</a>
                    </li>
                    <li class="list-inline-item">
                        <a class="text-muted" href="https://www.minvu.gob.cl/noticias/" target="_blank">Noticia</a>
                    </li>
                    <li class="list-inline-item">
                        <a class="text-muted" href="https://www.minvu.gob.cl/sobre-minvu/" target="_blank">Sobre MINVU</a>
                    </li>
                    <li class="list-inline-item">
                        <a class="text-muted" href="https://www.minvu.gob.cl/preguntas-frecuentes/" target="_blank">Preguntas Frecuentes</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>

<script>

    var controlBar = document.getElementById("myBarChart");
        var graficoBar = new Chart(controlBar, {
            type: 'bar',
            data: {
                labels: ["MUNIN", "TRAZABILIDAD", "RUKAN", "UMBRAL", "SNAT", "SPS"],
                datasets: [{
                    label: "N° Sub Sistemas asociados",
                    backgroundColor: "#BB2100",
                    borderColor: "rgba(2,117,216,1)",
                    data: [4215, 5312, 6251, 7841, 9821, 14984],

                    backgroundColor: ["#BB2100", "#03B100", "#0083B1", "#0800B1", "#EBFA00", "#FA00D8"],
                    borderColor: "#000000",
                    borderWidth: 0,
                    data: [2, 1, 2, 0, 1, 2],
                }],
            },
            options: {
                scales: {
                    xAxes: [{
                        
                        gridLines: {
                            display: true
                        },
                        ticks: {
                            maxTicksLimit: 6 //=> cuantos puntos X aparareceran
                        },
                        scaleLabel: {
                            display: true,
                            labelString: 'Sistemas Generales' // Nombre del eje X
                        }
                    }],
                    yAxes: [{
                        ticks: {
                            min: 0,
                            max: 3,
                            maxTicksLimit: 10 //=> cuantos puntos Y aparareceran
                        },
                        gridLines: {
                            display: true
                        },
                        scaleLabel: {
                            display: true,
                            labelString: 'Cantidad de subsistemas registrados' // Nombre del eje X
                        }
                    }],
                    
                },
                legend: {
                    display: false // => activalo si deseas ver leyenda
                }
            }
        });


</script>