/*Modals*/
div #div-allContent {
    border-color: #4268d6;
    border-width: 1px;
    border-style: groove;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

@media (max-width: 1000px) {
    #div-allContent {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

#div-btns {
    padding: 10px;

}

textarea{

    resize:none;
}


.custombtn {
    width: 100px;
    height: 80px;
    margin-right: 5px;
}

#div-btnsModal {
    justify-content: center;
    align-items: center;
    display: flex;
    padding-top: 2em;
}
#btnExportar2, #btnExportar3, #btnExportar4{
    float: right;
}

/*Login*/
#id-LI {
    font-family: 'Oleo Script', cursive;
    font-family: 'Oswald', sans-serif;
    color: #0fa58a
}

#tBuscarPac {
    color: #0fa58a
}

#div-loginContent {
    background: rgb(0,212,255);
    background: linear-gradient(90deg, rgba(0,212,255,0.35) 0%, rgba(255,255,255,0.35898109243697474) 51%, rgba(0,212,255,0.35) 100%);
}


.bodyClass {
    height: 400px;
    background-image: url('../img/edificio-MINVU.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}


#divLogoImage {
    background-image: url('../img/logo-portada.png');
    background-position: center center;
    background-size:contain;
    background-repeat: no-repeat;
    position:relative;
    left:30px
}

#imgLogo {
    margin-top: 90px;
    padding: 30px;
    width: 510px;
}

#div-containerAll {
    margin-top: 100px;
    margin-bottom: 100px;
}


.table-responsive .tablaparasistemas {
    height: 80vh;
    overflow-y: auto;
}

.table-responsive-y {
 display: block;
}

.table-responsive-y  thead {
    position: -webkit-sticky; 
    position: sticky;
    top: 0;
}
table {
    font-size: 14px;
}
thead {
    width: 100%;
    overflow-x: scroll;
    background: #e1f0f4;
    color: #11a4d6
}

.id {
    text-align: center;
}
th {
    text-align: center;
}




table #tDiag {
   padding-left:7em !important;
   padding-right: 7em !important;

}

table #tRut {
    padding-left: 4em !important;
    padding-right: 4em !important;
}





.font_calibri {
    font: 22px calibri;
}



.font_registro {
    font: 22px calibri;
}

.formAddproy {
    background: #DADEE2;
    width: contain;
    height: contain;
    border: 2px solid gray;
    border-radius: 3px 5px;
    
}

.rowNorm {
    margin-left: 30px;
    margin-top: 10px
}




#datatableReg thead {
    background-color: #EB3C46;
    color: white;

}



/*Layout*/
    #content {
    background: #b4ecfc;
    height: max-content;
    /*   background-image: url('/img/hospital-HPH.jpg');
    background-size: cover;*/
    /*background: #B2FEFA;*/ /* fallback for old browsers */
    /*background: -webkit-linear-gradient(to bottom, #0ED2F7, #B2FEFA);*/ /* Chrome 10-25, Safari 5.1-6 */
    /*background: linear-gradient(to top, #0ED2F7, #B2FEFA);*/ /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.bootstrap-iso .formden_header h2, .bootstrap-iso .formden_header p, .bootstrap-iso form {
    font-family: Arial, Helvetica, sans-serif;
    color: black
}

    .bootstrap-iso form button, .bootstrap-iso form button:hover {
        color: white !important;
    }

.asteriskField {
    color: red;
}

#div-form-filtros {
    padding: 10px;
}

#collapseTwo, #collapseThree, #collapseFour {
    width: 220px;
    height: max-content;
}

.bg-gradient-primary {
    background: #2980B9; /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #FFFFFF, #6DD5FA, #2980B9); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #FFFFFF, #6DD5FA, #2980B9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    /*}*/

    
}


/* Estilo para el select */
select {
    width: contain;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f7f7f7;
}

/* Estilo para las opciones del select */
option {
    font-size: 16px;
    background-color: #fff;
}