<!DOCTYPE html>
<html lang="en">
<head>

</head>

<body style="background-color: #B2FEFA;">

    <div class="container-fluid">
        <div class="bg-gradient-primary py-3 shadow-sm">
            <div class="card">
                <div class="card shadow">

                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="card shadow" >
                                    <div class="font_calibri">
                                        <h1> Bienvenida /o al Sistema de Registro y Control de los Sistemas del MINVU</h1>
                                        <hr />
                                        Bienvenidos al prototipo de sistemas de registro y control de los sistemas del MINVU.
                                        En este prototipo se podrán registrarl las principales caracteristicas de 6 sistemas del MINVU y visualizarlos
                                        a través de una serie de gráficos y tablas de datos.Esta interfaz es un ejemplo del prototipo a modo de imagen.<br />
                                        <b>
                                            Universidad Tecnológica Metropolitana.<br />
                                            Rodrigo Álvarez.
                                        </b>
                                    </div>                                                                    
                                </div>
                            </div>
                            <div class="col-lg-6" >
                                <div class="col-lg-8" style="border: 1px solid red">
                                    <div class="font_calibri">
                                        Nombre del Sistema:
                                        <hr />
                                        Estado del Sistema:
                                        <hr />
                                        N° Usuarios:
                                    </div>
                                </div>
                                <div class="col-lg-4">


                                </div>
                            </div>
                        </div>
                            </div>


                </div>
            </div>
        </div>
    </div>

    <footer class="footer">
        <div class="container-fluid">
            <div class="row text-muted">
                <div class="col-6 text-start">
                    <p class="mb-0">
                        <a class="text-muted"> <span>Copyright &copy; Universidad Tecnológica Metropolitana - Facultad Ingenieria</span></a>								&copy;
                    </p>
                </div>
                <div class="col-6 text-end">
                    <ul class="list-inline">
                        <li class="list-inline-item">
                            <a class="text-muted" href="https://www.minvu.gob.cl/beneficios/vivienda/" target="_blank">Vivienda</a>
                        </li>
                        <li class="list-inline-item">
                            <a class="text-muted" href="https://www.minvu.gob.cl/noticias/" target="_blank">Noticia</a>
                        </li>
                        <li class="list-inline-item">
                            <a class="text-muted" href="https://www.minvu.gob.cl/sobre-minvu/" target="_blank">Sobre MINVU</a>
                        </li>
                        <li class="list-inline-item">
                            <a class="text-muted" href="https://www.minvu.gob.cl/preguntas-frecuentes/" target="_blank">Preguntas Frecuentes</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>

    <script>
        


    </script>

</body>

</html>