@model PrototipoMINVU.Models.Registro



<body style="background-color: #B2FEFA;">

    <div class="container-fluid">
        <div class="bg-gradient-primary py-3 shadow-sm">
            <div class="card">
                <div class="card shadow">
                    <div class="container-fluid">

                        <div class="row">
                            <div class="font_registro">
                                <h1> Bienvenida /o al registro de datos de los Sistemas del MINVU</h1>
                                <hr />
                            </div>
                        </div>

                        <div class="row" id="textindexregistro">
                            <div class="col-lg-12">
                                <div class="card shadow">
                                    <div class="font_registro">
                                        Bienvenidos al prototipo de sistemas de registro y control de los sistemas del MINVU. Este prototipo está desarrollado
                                        con fines educativos y no lucrativos. Está hecho con el fin de obtener el título de ingeniería civil en computación, mención
                                        informática en la UTEM.<br />
                                        En esta pantalla se podrán registrar, actualizar o eliminar registros de los principales proyectos y/p asociados del
                                        conjunto de sistemas del MINVU.<br />
                                        Se destaca, que las caracteristicas y/o datos escogidos para este prototipo, son a
                                        modo de prueba según las límitaciones del proyecto.<br />


                                        Universidad Tecnológica Metropolitana.<br />

                                        <b>Profesor Guía:</b> Yelka Ruiz.<br />


                                        <b>Rodrigo Álvarez.</b>


                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">

                            <div class="col-lg-6">
                                <div class="font_registro">
                                    Seleccione Sistema:
                                    @Html.DropDownListFor(m => m.idSistemas, new SelectList(Model.ListaSistemas, "idSistema", "NombreSistema"), "Seleccione Sistema", new { @id = "idSistema", @onchange = "GenerarListaproyectos(this.value)" })

                                    <hr />
                                </div>

                                <div class="font_registro" id="comboProyectosMUNIN" style="display: none;">
                                    <label>Seleccione Proyecto del Sistema MUNIN:</label>
                                    @Html.DropDownListFor(m => m.idProyecto, new SelectList(Model.ListaProyectosMUNIN, "idProyecto", "Nombre_proyecto"), "Seleccione Proyecto")
                                </div>
                            </div>


                            <div class="col-lg-6" id="tablaMunin" style="display: none; margin-top:3px;">
                                <div class="font_registro">
                                    <div style="text-align: center;">Proyectos MUNIN Activos</div>
                                    <hr />
                                    <div class="table-responsive-y table-responsive tablaparaproyectos">
                                        <table align="center" border="1" style="width:auto; height:contain;" class="table table-bordered table-hover table-condensed table-striped shadow-lg bg-white position-static" id="datatableReg">
                                            <thead>
                                                <tr>
                                                    <th>N° Proyecto</th>
                                                    <th>Nombre Proyecto</th>
                                                    <th>Jefe del proyecto</th>
                                                    <th>Estado proyecto</th>
                                                    <th>Editar</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>1</td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                </tr>
                                                <tr>

                                                    <td>2</td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                </tr>
                                                <tr>

                                                    <td>3</td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                </tr>
                                                <tr>

                                                    <td>4</td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>

                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>



                                </div>
                            </div>

                            <div class="col-lg-6" id="tablaTrazabilidad" style="display: none; margin-top:3px;">
                                <div class="font_registro">
                                    <div style="text-align: center;">Proyectos MUNIN Activos</div>
                                    <hr />
                                    <div class="table-responsive-y table-responsive tablaparaproyectos">
                                        <table align="center" border="1" style="width:auto; height:contain;" class="table table-bordered table-hover table-condensed table-striped shadow-lg bg-white position-static" id="datatableReg">
                                            <thead>
                                                <tr>
                                                    <th>N° Proyecto</th>
                                                    <th>Nombre Proyecto</th>
                                                    <th>Jefe del proyecto</th>
                                                    <th>Estado proyecto</th>
                                                    <th>Editar</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>1</td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                </tr>
                                                <tr>

                                                    <td>2</td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                </tr>
                                                <tr>

                                                    <td>3</td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                </tr>
                                                <tr>

                                                    <td>4</td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>

                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>



                                </div>
                            </div>








                        </div>

                        
                    </div>

                </div>
            </div>

        </div>
    </div>

<footer class="footer">
    <div class="container-fluid">
        <div class="row text-muted">
            <div class="col-6 text-start">
                <p class="mb-0">
                    <a class="text-muted"> <span>Copyright &copy; Universidad Tecnológica Metropolitana - Facultad Ingenieria</span></a>								&copy;
                </p>
            </div>
            <div class="col-6 text-end">
                <ul class="list-inline">
                    <li class="list-inline-item">
                        <a class="text-muted" href="https://www.minvu.gob.cl/beneficios/vivienda/" target="_blank">Vivienda</a>
                    </li>
                    <li class="list-inline-item">
                        <a class="text-muted" href="https://www.minvu.gob.cl/noticias/" target="_blank">Noticia</a>
                    </li>
                    <li class="list-inline-item">
                        <a class="text-muted" href="https://www.minvu.gob.cl/sobre-minvu/" target="_blank">Sobre MINVU</a>
                    </li>
                    <li class="list-inline-item">
                        <a class="text-muted" href="https://www.minvu.gob.cl/preguntas-frecuentes/" target="_blank">Preguntas Frecuentes</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>

<script>

    


</script>

</body>